<style>
	table,td{
		border:1px solid #2F74B5;
		border-collapse:collapse;
	}
	tr{
		background-color:#DDEBF4;
		text-align:center;
	}
	tr:nth-child(odd){
		background-color:#FFFFFF;
	}
	.header,.footer{
		background-color:#9BC1E6;
	}
</style> 
<table style="width:100%;">
	<tr style="height:30px;background-color:#2F74B5;">
		<td colspan="11" style="color:#FFFFFF;font-weight:700;">2010年01月气象预报</td>
	</tr>
	<tr style="height:45px;" class="header">
		<td colspan="2" rowspan="2" style="width:180px;">
			<word bookmark="bm_table_td">{template_path}</word>
		</td>
		<td colspan="3">早</td>
		<td colspan="3">中</td>
		<td colspan="3">晚</td>
	</tr>
	<tr class="header">  
		<td>温度</td>
		<td>湿度</td>
		<td>风力</td> 
		<td>温度</td>
		<td>湿度</td>
		<td>风力</td> 
		<td>温度</td>
		<td>湿度</td>
		<td>风力</td> 
	</tr>
	<tr class="data">
		<td style="width:90px;">01-01</td>
		<td style="width:90px;">06:00</td>
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
		<td style="color:red;background-color:#cccccc;">32.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
	</tr> 
	<tr class="data">
		<td style="width:90px;">01-01</td>
		<td style="width:90px;">07:00</td>
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>22.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
	</tr> 
	<tr class="data">
		<td style="width:90px;">01-01</td>
		<td style="width:90px;">08:00</td>
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>22.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
	</tr> 
	<tr class="data">
		<td style="width:90px;">01-01</td>
		<td style="width:90px;">09:00</td>
		<td>12.5</td>
		<td>78</td>
		<td>F3</td>  
		<td>22.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>11.5</td>
		<td>65</td>
		<td>F3</td>  
	</tr> 
	<tr class="data">
		<td style="width:90px;">01-01</td>
		<td style="width:90px;">10:00</td>
		<td>11.5</td>
		<td>75</td>
		<td>F1</td>  
		<td>21.5</td>
		<td>72</td>
		<td>F3</td>  
		<td>15.5</td>
		<td>65</td>
		<td>F1</td>  
	</tr> 
	<tr class="footer" style="height:30px;text-allign:left;font-weight:700;">
		<td colspan="5" style="text-align:left;">
			填表人:张三
		</td>
		<td colspan="6" style="text-align:left;">
			填表时间:2021-12-06
		</td>
	</tr>
</table>
