<style>
	table{
		border-top:1px solid #2F74B5;
		border-bottom:1px solid #2F74B5;
		border-collapse:collapse;
		border-left:none;
		border-right:none;
		border-insideH:none;
		border-insideV:none;
	}
	tr{
		background-color:#FDE4D0;
		text-align:center;
	}
	.data:nth-child(odd){
		background-color:#FFFFFF;
	}
	.header,.footer{
		background-color:#F79646;
	}
	td{
		border-top:1px solid #F79646;
		border-bottom:1px solid #F79646;
		border-left:none;
		border-right:none;
	}
</style> 
<table style="width:100%;">
	<tr style="height:30px;background-color:#b65608;">
		<td colspan="9" style="color:#FFFFFF;font-weight:700;">2010年01月气象预报</td>
	</tr> 
	<tr class="header">  
		<td>温度</td>
		<td>湿度</td>
		<td>风力</td> 
		<td>温度</td>
		<td>湿度</td>
		<td>风力</td> 
		<td>温度</td>
		<td>湿度</td>
		<td>风力</td> 
	</tr>
	<tr class="data"> 
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>32.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
	</tr> 
	<tr class="data"> 
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>22.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
	</tr> 
	<tr class="data"> 
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>22.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>12.5</td>
		<td>75</td>
		<td>F2</td>  
	</tr> 
	<tr class="data"> 
		<td>12.5</td>
		<td>78</td>
		<td>F3</td>  
		<td>22.5</td>
		<td>75</td>
		<td>F2</td>  
		<td>11.5</td>
		<td>65</td>
		<td>F3</td>  
	</tr> 
	<tr class="data"> 
		<td>11.5</td>
		<td>75</td>
		<td>F1</td>  
		<td>21.5</td>
		<td>72</td>
		<td>F3</td>  
		<td>15.5</td>
		<td>65</td>
		<td>F1</td>  
	</tr> 
	<tr class="footer" style="height:30px;text-allign:left;font-weight:700;">
		<td colspan="4" style="text-align:left;">
			填表人:张三
		</td>
		<td colspan="5" style="text-align:left;">
			填表时间:2021-12-06
		</td>
	</tr>
</table>
